

<div style="padding: 20px;" >
    <div  class="lesson">
        <div>
          <h1 >درس: السلسلة الغذائية</h1>
        </div>
    </div>
  
        <div style="text-align: right;">
            <h4 style="font-size: 20px;">أكمل بما يناسب: العاشبة /البيئي / الكالشة/النبات/الكائنات الحية /العاشبة/الأولى /مستهلكة /اللاحمة/بقائها </h4>

            <p style="font-size: 18px;">السلسلة الغذائية هي مجموعة من 
              <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
              يتغذى بعضها على بعض فتضمن 
              <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;" >وتحقق التوازن   
              <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;" >
              . يمثل <input type="text"  style="text-align: center;font-size:25px;width:100px"> 
              أولى حلقات السلسلة الغذائية ويسمى منتج وهو مصدر غذائي أول للحيوانات 
             </p>

          
             <p style="font-size: 18px;">  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">الحيوانات  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="العاشبة">
                  هي حيوانات 
                 <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;" > من الدرجة  </p>

<p style="font-size: 18px;"> <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">الحيوانات 
  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> و 
 <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> الحيوانات هي حيوانات مستهلكة من الدرجة الثانية وهي تتغذى على
   </p>         
             </div>


  <!-- ////////////////////////////////////// -->
  <br><br><br>
  <div class="dives" *ngIf="!state">
    <button class="butt" (click)="show()">أنظر إلى الإصلاح</button>
  </div>
  <br><br>
  <!-- //////////////////////////////////////////////////////////////////////// -->
  <div *ngIf="state">
  
      <div class="esla7">
        <h2 class="h2" (click)="show()">الإصلاح</h2>
      </div>
      <div style="text-align: right;">
        <div style="text-align: right;">
            <h4 style="font-size: 20px;">أكمل بما يناسب: العاشبة /البيئي / الكالشة/النبات/الكائنات الحية /العاشبة/الأولى /مستهلكة /اللاحمة/بقائها </h4>
        
                <p style="font-size: 18px;">السلسلة الغذائية هي مجموعة من 
                     <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="الكائنات"> 
                     يتغذى بعضها على بعض فتضمن 
                     <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="بقائها" >وتحقق التوازن   
                     <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="البيئى" >
                     . يمثل <input type="text"  style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="النبات"> 
                     أولى حلقات السلسلة الغذائية ويسمى منتج وهو مصدر غذائي أول للحيوانات 
                    </p>

                 
                    <p style="font-size: 18px;">  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="الأولى">الحيوانات  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="العاشبة">
                         هي حيوانات 
                        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="مستهلكة" > من الدرجة  </p>
     
     <p style="font-size: 18px;"> <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="اللاحمة">الحيوانات 
         <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="اللاحمة"> و 
        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="الكالشة"> الحيوانات هي حيوانات مستهلكة من الدرجة الثانية وهي تتغذى على
          </p>         
           <div style="margin: 30px;">

</div>
        </div>
      </div>
    </div>  
<br>
    <div class="suiv">
       
        <button class="b2" (click)="Next()">الدرس التالي</button>
      </div>
 
</div>

