<div style="padding: 20px;" >
    <div  class="lesson">
        <div>
          <h1 >درس : إمتصاص الماء و عملية التبخر عند النبتة</h1>
        </div>
    </div>
    <div style="text-align: right;">
        <h3>تمرين عدد 1</h3>
    </div>
      <div style="text-align: right;">
        <h4> كيف تمتص النبتة الماء ؟</h4>
        <textarea style="width: 800px;height:40px;border-radius: 20px ;margin-right:50px;" > </textarea>
      </div>
      <div style="text-align: right;">
        <h4>كيف تمتص النبتة الأملاح المعدنية ؟</h4>
        <textarea style="width: 800px;height: 40px;border-radius: 20px ;margin-right:50px;" > </textarea>
      </div>
      <div style="text-align: right;">
        <h4>هل تنمو النبتة في تربة لا تتوفر فيها أملاح معدنية ؟</h4>
        <textarea style="width: 800px;height: 40px;border-radius: 20px ;margin-right:50px;" > </textarea>
      </div>
      <div style="text-align: right;">
        <h4>:أذكر بعض أنواع الأسمدة الكيميائية</h4>
        <textarea style="width: 800px;height:40px;border-radius: 20px ;margin-right:50px;" > </textarea>
      </div>
      <div style="text-align: right;">
        <h4>:أذكر بعض أنواع الأسمدة العضوية </h4>
        <textarea style="width: 800px;height:40px;border-radius: 20px ;margin-right:50px;" > </textarea>
      </div>
    
      <!-- ////////////////////////////////////// -->
<br><br><br>
<div class="dives" *ngIf="!state">
  <button class="butt" (click)="show()">أنظر إلى الإصلاح</button>
</div>
<br><br>
<!-- //////////////////////////////////////////////////////////////////////// -->
<div *ngIf="state">

    <div class="esla7">
      <h2 class="h2" (click)="show()">الإصلاح</h2>
    </div>
    <div style="text-align: right;">
      <h3>تمرين عدد 1</h3>
  </div>
    <div style="text-align: right;">
      <h4> كيف تمتص النبتة الماء ؟</h4>
    <p style="font-size: 22px;margin:20px">تمتص النبتة الماء بواسطة جذورها فتصعد عبر الساق إلى كامل أجزاء النبتة. و 
      تسمى هذه العملية 
      النتج و يتم ذلك في مستوى الأوراق و تقوم بتعويضه بفصل ما تمتصه بواسطة جذوره</p>
    
    </div>
    <div style="text-align: right;">
      <h4>كيف تمتص النبتة الأملاح المعدنية ؟</h4>
      <p style="font-size: 22px;margin:20px">تمتص النبتة الأملاح المعدنية بواسطة جذورها و هي منحلة في الماء </p>
    </div>
    <div style="text-align: right;">
      <h4>هل تنمو النبتة في تربة لا تتوفر فيها أملاح معدنية ؟</h4>
      <p style="font-size: 22px;margin:20px">لا تنمو النبتة في تربة لا تتوفر فيها أملاح معدنية </p>
    </div>
    <div style="text-align: right;">
      <h4>:أذكر بعض أنواع الأسمدة الكيميائية</h4>
      <p style="font-size: 22px;margin:20px">الأسمدة الكيميائية وهي : الفسفاط/ أمونيتر /بوتاسيوم</p>
    <div style="text-align: right;">
      <h4>:أذكر بعض أنواع الأسمدة العضوية </h4>
      <p style="font-size: 22px;margin:20px">الأسمدة العضوية وهي : فضلات الحيوانات</p>
    </div>
</div>
</div>

<div class="suiv">
  <button class="b1" (click)="Previous()">الدرس السابق</button>
  <button class="b2" (click)="Next()">الدرس التالي</button>
</div>
</div>

    