
<div style="padding: 20px;" >
    <div  class="lesson">
        <div>
          <h1 >درس :  الجسم  </h1>
        </div>
    </div>
   
    <div style="text-align: right;">
        <h3>نشاط عدد 1</h3>
    </div>
      <div style="text-align: right;">
        <h4> أربط بسهم بين شكل العضلة و موقعها في الجسم ؟ </h4>
        <div style=" margin-top: 20px; margin-right: 50px;">
            <!-- /////////////////////// -->
            <div class="container" style="justify-content: flex-end;">
              <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                      <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none;font-size:19px" value=" الصدر  -">
              </div>
              <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                     <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none ;font-size:20px" value=" ">
             </div>
            </div>  
            <!-- :::::::::::::::::::: -->
            <div style=" margin-top: 20px;">
              <!-- /////////////////////// -->
              <div class="container" style="justify-content: flex-end;">
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                        <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none;font-size:19px" value="   البلعوم   -">
                </div>
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                       <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none ;font-size:20px" value="عضلة مسطحة   -">
               </div>
              </div>  
              <!-- :::::::::::::::::::: -->
              <div style=" margin-top: 20px;">
                <!-- /////////////////////// -->
                <div class="container" style="justify-content: flex-end;">
                  <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                          <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none;font-size:19px" value="  العضد -">
                  </div>
                  <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                         <input type="text" style="width:270px;text-align:center;margin-top:10px;border:none ;font-size:20px" value="     عضلة مغزلية  -    " >
                 </div>
                </div>  
                <!-- :::::::::::::::::::: -->
                 <!-- /////////////////////// -->
              <div class="container" style="justify-content: flex-end;">
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                        <input type="text" style="width:270px;text-align:center;margin-top:20px;border:none;font-size:19px" value="   الفخذ   -">
                </div>
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                       <input type="text" style="width:270px;text-align:center;margin-top:20px;border:none ;font-size:20px" value="عضلة دائرية  -">
               </div>
              </div> 
                <!-- ::::::::::::::::::::::::::::::: -->
                 <!-- /////////////////////// -->
              <div class="container" style="justify-content: flex-end;">
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                        <input type="text" style="width:270px;text-align:center;margin-top:20px;border:none;font-size:19px" value="     لوح الكتف   -">
                </div>
                <div style="flex-direction:column; display: flex;width:300px ;margin-right:100px;margin-left:10px">
                       <input type="text" style="width:270px;text-align:center;margin-top:20px;border:none ;font-size:20px" value="     ">
               </div>
              </div> 
                <!-- lkkkkkkkkkkkkkkkkkkkkkk -->
          </div>
      </div>
        </div>
      <div style="text-align: right;">
        <h3>نشاط عدد 2</h3>
    </div>
      <div style="text-align: right;">
        <h4>:  أكمل ب : تتقلص - تقصر - تتمدد - ترتخي </h4>
        <div style=" margin-top: 20px; margin-right: 50px;">
        <p style="font-size: 18px;">
            <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
            في حركة الانعطاف 
           <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
           ذات الرأسين و
            <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
            و 
           <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
           مثلثة الرؤوس و     
            </p>  
  <p style="font-size: 18px;">
     <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
     في حركة الانبساط  
    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
    ذات الرأسين و
     <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
     و 
    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
    مثلثة الرؤوس و     
     </p>  
             </div>
      </div>
             <div style="text-align: right;">
                <h3>نشاط عدد 3</h3>
            </div>
              <div style="text-align: right;">
                <h4>:   أعجب فراس برشاقة الرياضي فقام بالحركات التالية
                    أكمل   </h4>
                    <div style=" margin-top: 20px; margin-right: 50px;">
                <img style="margin-right: 20%;width:150px" src="assets/jesem.jpeg" alt="">
                <p style="font-size: 18px;">
                    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                    الطرف العلوي الأيسر في حالة 
                     
                    </p> 
                    <p style="font-size: 18px;">
                        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                        الطرف العلوي الأيمن في حالة 
                         
                        </p> 
        </div>

              </div>

        <div style="text-align: right;">
            <h3>نشاط عدد 4</h3>
        </div>
          <div style="text-align: right;">
            <h4>:   ماهي العضلات و المفاصل التي تهيمن على الحركة أثناء : العدو، القفز ، السباحة   </h4>
            <div style=" margin-top: 20px; margin-right: 50px;">
    <strong style="font-size: 18px;color:chocolate">حركة العدو</strong><br>
    <div style=" margin-top: 20px; margin-right: 20px;">
    <p style="font-size: 18px;">............................................ : مفاصل </p>
    <p style="font-size: 18px;">............................................ : عضلات  </p>
    </div>
    <strong style="font-size: 18px;color:chocolate">حركة القفز </strong><br>
    <div style=" margin-top: 20px; margin-right: 20px;">
    <p style="font-size: 18px;">............................................ : مفاصل </p>
    <p style="font-size: 18px;">............................................ : عضلات  </p></div>
    <strong style="font-size: 18px;color:chocolate">حركة السباحة</strong>
    <div style=" margin-top: 20px; margin-right: 20px;">
    <p style="font-size: 18px;">............................................ : مفاصل </p>
    <p style="font-size: 18px;">............................................ : عضلات  </p> 
    </div>
      </div>

          </div>
 <div style="text-align: right;">
            <h3>نشاط عدد 5</h3>
        </div>
          <div style="text-align: right;">
            <h4>:   أكمل بما يناسب   </h4>
            <div style=" margin-top: 20px; margin-right: 50px;">
            <p style="font-size: 18px;">
                <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                العضلات ثلاثة أنواع هي 
               <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
               و 
                <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
                و 
                </p> 


                <p style="font-size: 18px;">
                    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                    العظام  ثلاثة أنواع هي 
                   <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
                   و 
                    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
                    و 
                    </p> 

                    <p style="font-size: 18px;">
                        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                      المفاصل ثلاثة أنواع هي  
                       <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
                       و 
                        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;">
                        و 
                        </p> 
          </div>
          <!-- ////////////////////////////////////////////////// -->
          <div style="text-align: right;">
            <h3>نشاط عدد 6</h3>
        </div>
          <div style="text-align: right;">
            <h4>:    أكتب أمام كل حادث اسم العضو المصاب : العظاام / المفاصل / العضلات    </h4>
            <div style=" margin-top: 20px; margin-right: 50px;">
                <p style="font-size: 18px;">
                    <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                    الكسر غير التام يصيب 
                    </p> 
                    <p style="font-size: 18px;">
                        <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                        التمزق يصيب  
                        </p> 
                        <p style="font-size: 18px;">
                            <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;"> 
                            الالتواء يصيب  
                            </p> 
            </div>
          </div>
          </div>
      </div>

<div style="text-align: right;">
  <h3>نشاط عدد 7</h3>
  <h4>: أكمل بما يناسب</h4>

 <p  style="font-size: 20px;margin-right:50px"> 
  <input type="text" style="width: 100px;margin:5px;color:green;font-size:20px" >ينتقل الدم في الدورة الدموية الصغرى من
  <input  type="text" style="width: 100px;margin:5px;color:green;font-size:20px">
  الى <input  type="text" style="width: 100px;margin:5px;color:green;font-size:20px"> ثم الى</p>

  <p  style="font-size: 20px;margin-right:50px"> 
    <input type="text" style="width: 100px;margin:5px;color:green;font-size:20px" >ينتقل الدم في الدورة الدموية الكبرى من
    <input  type="text" style="width: 100px;margin:5px;color:green;font-size:20px">
    الى <input  type="text" style="width: 100px;margin:5px;color:green;font-size:20px"> ثم الى</p>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 8</h3>
  <h4>أجب بصواب او خطأ </h4>
  <div style="text-align: right; padding-right:50px">
  <p style="font-size: 20px;">
      <select style="background-color: rgb(211, 188, 232);" name="" id="">
          <option value=""></option>
          <option value="صواب">صواب</option>
          <option value="خطأ">خطأ</option>
      </select>
      يعتبر القلب عضو ثانوي في الدورة الدموية -
  </p>
  
  <p style="font-size: 20px;">
      <select style="background-color: rgb(211, 188, 232);;" name="" id="">
          <option value=""></option>
          <option value="صواب">صواب</option>
          <option value="خطأ">خطأ</option>
      </select>
      يتكون الدم من الكريات الحمراء و البيضاء و الصفائح الدموية -
  </p>

    <p style="font-size: 20px;">
      <select style="background-color: rgb(211, 188, 232);;" name="" id="">
          <option value=""></option>
          <option value="صواب">صواب</option>
          <option value="خطأ">خطأ</option>
      </select>
      الاوردة تنقل الدم الى أعضاء الجسم -
  </p>
  
  <p style="font-size: 20px;">
      <select style="background-color: rgb(211, 188, 232);;" name="" id="">
          <option value=""></option>
          <option value="صواب">صواب</option>
          <option value="خطأ">خطأ</option>
      </select>
      الدورة الدموية الصغرى هي حلقة وصل بين القلب و باقي أعضاء الجسم -
  </p>
 
  </div>


  <div style="text-align: right;">
    <h3>نشاط عدد 9</h3>
   <h4>  أشطب  الاجابة الخاطئة </h4>
    <div style="text-align: right; padding-right:50px">
      <p style="font-size: 20px;" [ngStyle]="{ 'text-decoration': supp1 ? 'line-through' : 'none' }">  <button (click)="supp(1)" class="supp" >أشطب</button>.الاوعية الدموية هي أوعية تتصل بالأذينة-</p>
      <p style="font-size: 20px;"  [ngStyle]="{ 'text-decoration': supp2 ? 'line-through' : 'none' }"> <button (click)="supp(2)" class="supp" >أشطب</button>.تنقل الشرايين الدم الغني بالاكسجين أو بثاني أكسيد الكربون -</p>
      <p style="font-size: 20px;" [ngStyle]="{ 'text-decoration': supp3 ? 'line-through' : 'none' }"> <button (click)="supp(3)" class="supp" >أشطب</button>.يدور الدم في كامل الجسم عكس اتجاه عقارب الساعة -</p>
 
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 10</h3>
 <h4> سمع  فراس صراخا فهب مسرعا ليستجلي الأمر حتى وصل الى الحديقة وهو يلهث
  لماذا وصل فراس لاهثا؟ </h4>
  <div style="text-align: right; padding-right:10px">
    <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
 
</div>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 11</h3>
 <h4> أسمي طوري الحركة التنفسية و عرفهما </h4>
  <div style="text-align: right; padding-right:10px">
    <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 12</h3>
 <h4> اشرح تأثير التدخين على رئة المدخن </h4>
  <div style="text-align: right; padding-right:10px">
    <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 13</h3>
 <h4> هل يمكنك أن تساعد فراس على ذكر عوامل أخرى تلحق ضررا بالجهاز التنفسي</h4>
  <div style="text-align: right; padding-right:10px">
    <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
</div>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 14</h3>
 <h4> قدم 3 نصائح تمكنك من وقاية جهازك التنفسي من الأمراض</h4>
  <div style="text-align: right; padding-right:10px">
    <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
</div>
</div>


</div>

       <!-- ////////////////////////////////////// -->
<br><br><br>
<div class="dives" *ngIf="!state">
  <button class="butt" (click)="show()">أنظر إلى الإصلاح</button>
</div>
<br><br>
<!-- //////////////////////////////////////////////////////////////////////// -->

<div *ngIf="state">
    <div class="esla7">
      <h2 class="h2" (click)="show()">الإصلاح</h2>
    </div>
    <div style="text-align: right;">
      <h3>نشاط عدد 1</h3>
  </div>
    <div style="text-align: right;">
      <h4> أربط بسهم بين شكل العضلة و موقعها في الجسم ؟ </h4>
      <div style=" margin-top: 20px; margin-right: 30px;">
        <img src="assets/sahem2.png" alt="">
      </div>
    <div style="text-align: right;">
      <h3>نشاط عدد 2</h3>
  </div>
    <div style="text-align: right;">
      <h4>:  أكمل ب : تتقلص - تقصر - تتمدد - ترتخي </h4>
      <div style=" margin-top: 20px; margin-right: 30px;">
      <p style="font-size: 18px;">
          <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value=" تتمدد"> 
          في حركة الانعطاف 
         <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="تتقلص">
         ذات الرأسين و
          <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="تقصر">
          و 
         <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="ترتخي">
         مثلثة الرؤوس و     
          </p>  
<p style="font-size: 18px;">
   <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="تقصر"> 
   في حركة الانبساط  
  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="ترتخي">
  ذات الرأسين و
   <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="تتمدد">
   و 
  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="تتقلص">
  مثلثة الرؤوس و     
   </p>  
           </div>
    </div>
           <div style="text-align: right;">
              <h3>نشاط عدد 3</h3>
          </div>
            <div style="text-align: right;">
              <h4>:   أعجب فراس برشاقة الرياضي فقام بالحركات التالية
                  أكمل   </h4>
                  <div style=" margin-top: 20px; margin-right: 30px;">
              <img style="margin-right: 20%;width:150px" src="assets/jesem.jpeg" alt="">
              <p style="font-size: 18px;">
                  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="انبساط"> 
                  الطرف العلوي الأيسر في حالة 
                   
                  </p> 
                  <p style="font-size: 18px;">
                      <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="انعطاف"> 
                      الطرف العلوي الأيمن في حالة 
                       
                      </p> 
      </div>

            </div>

      <div style="text-align: right;">
          <h3>نشاط عدد 4</h3>
      </div>
        <div style="text-align: right;">
          <h4>:   ماهي العضلات و المفاصل التي تهيمن على الحركة أثناء : العدو، القفز ، السباحة   </h4>
          <div style=" margin-top: 20px; margin-right: 30px;">
  <strong style="font-size: 18px;color:chocolate" >حركة العدو</strong><br>
  <div style=" margin-top: 20px; margin-right: 20px;">
  <p style="font-size: 18px;">  مفاصل : الركبتين </p>
  <p style="font-size: 18px;">  عضلات: الأطراف السفلى</p>
  </div>
  <strong style="font-size: 18px;color:chocolate">حركة القفز </strong><br>
  <div style=" margin-top: 20px; margin-right: 20px;">
  <p style="font-size: 18px;">    مفاصل :الركبتينو القدمين </p>
  <p style="font-size: 18px;"> عضلات: الأطراف السفلى </p></div>
  <strong style="font-size: 18px;color:chocolate">حركة السباحة</strong>
  <div style=" margin-top: 20px; margin-right: 20px;">
  <p style="font-size: 18px;"> مفاصل: العمود الفقري / اليدين و الكتف </p>
  <p style="font-size: 18px;"> عضلات: البطن / الكتف </p> 
  </div>
    </div>

        </div>
<div style="text-align: right;">
          <h3>نشاط عدد 5</h3>
      </div>
        <div style="text-align: right;">
          <h4>:   أكمل بما يناسب   </h4>
          <div style=" margin-top: 20px; margin-right: 30px;">
          <p style="font-size: 18px;">
              <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="قلبية "> 
              العضلات ثلاثة أنواع هي 
             <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="هيكلية ">
             و 
              <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="ملساء ">
              و 
              </p> 


              <p style="font-size: 18px;">
                  <input type="text" style="text-align: center;font-size:25px;color:green;width:120px;border:none" value="عظام مسطحة"> 
                  العظام  ثلاثة أنواع هي 
                 <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="عظام قصيرة ">
                 و 
                  <input type="text" style="text-align: center;font-size:25px;color:green;width:120px;border:none" value="عظام طويلة">
                  و 
                  </p> 

                  <p style="font-size: 18px;">
                      <input type="text" style="text-align: center;font-size:25px;color:green;width:380px;border:none" value="ثابتة مثل عظام الجمجمة و عظام الفك العلوي"> 
                    المفاصل ثلاثة أنواع هي  
                     <input type="text" style="text-align: center;font-size:25px;color:green;width:300px;border:none" value="متحركة مثل الكتف و الورك و الركبة">
                     و 
                      <input type="text" style="text-align: center;font-size:25px;color:green;width:300px;border:none" value="نصف متحركة مثل الفقرات">
                      و 
                      </p> 
        </div>
        <!-- ////////////////////////////////////////////////// -->
        <div style="text-align: right;">
          <h3>نشاط عدد 6</h3>
      </div>
        <div style="text-align: right;">
          <h4>:    أكتب أمام كل حادث اسم العضو المصاب : العظاام / المفاصل / العضلات    </h4>
          <div style=" margin-top: 20px; margin-right: 30px;">
              <p style="font-size: 18px;">
                  <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="العظام"> 
                  الكسر غير التام يصيب 
                  </p> 
                  <p style="font-size: 18px;">
                      <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="العضلات"> 
                      التمزق يصيب  
                      </p> 
                      <p style="font-size: 18px;">
                          <input type="text" style="text-align: center;font-size:25px;color:green;width:100px;border:none" value="المفاصل"  > 
                          الالتواء يصيب  
                          </p> 
                        </div>  </div>
</div></div>

<div style="text-align: right;">
  <h3>نشاط عدد 7</h3>
  <h4>: أكمل بما يناسب</h4>

 <p  style="font-size: 20px;margin-right:50px"> 
  <input type="text" style="width: 120px;margin:5px;color:green;font-size:20px;border:none"  value=" القلب من جديد ">ينتقل الدم في الدورة الدموية الصغرى من
  <input  type="text" style="width: 50px;margin:5px;color:green;font-size:20px;border:none" value=" القلب">
  الى <input  type="text" style="width: 60px;margin:5px;color:green;font-size:20px;border:none" value="الرئتين "> ثم الى</p>

  <p  style="font-size: 20px;margin-right:50px"> 
    <input type="text" style="width: 130px;margin:5px;color:green;font-size:20px;border:none" value="الى القلب من جديد" >ينتقل الدم في الدورة الدموية الكبرى من
    <input  type="text" style="width: 50px;margin:5px;color:green;font-size:20px;border:none" value="القلب ">
    الى <input  type="text" style="width: 150px;margin:5px;color:green;font-size:20px;border:none" value=" كامل أعضاء الجس"> ثم الى</p>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 8</h3>
  <h4>أجب بصواب او خطأ </h4>
  <div style="text-align: right; padding-right:50px">
  <p style="font-size: 20px;">
     
      يعتبر القلب عضو ثانوي في الدورة الدموية 

      <strong style="color: red;">خطأ</strong>
  </p>
  
  <p style="font-size: 20px;">
     
      يتكون الدم من الكريات الحمراء و البيضاء و الصفائح الدموية 

      <strong style="color: green;">صواب</strong>
  </p>

    <p style="font-size: 20px;">
    
      الاوردة تنقل الدم الى أعضاء الجسم 
 
      <strong style="color: red;">خطأ</strong>
    </p>
  
  <p style="font-size: 20px;">
    
    
     
      الدورة الدموية الصغرى هي حلقة وصل بين القلب و باقي أعضاء الجسم 
    
      <strong style="color: red;">خطأ</strong>
  </p>
 
  </div>


  <div style="text-align: right;">
    <h3>نشاط عدد 9</h3>
   <h4>  أشطب  الاجابة الخاطئة </h4>
    <div style="text-align: right; padding-right:50px">
    <p style="font-size: 24px; color:darkgreen"> : الاجابات الخاطئة هي  </p>
    <p style="font-size: 22px;">تتصل الاوعية الدموية بالاذينة</p>
    <p style="font-size: 22px;">تنقل الشرايين الدم الغني بالاكسجين او بثاني أكسيد الكربون</p>
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 10</h3>
 <h4> سمع  فراس صراخا فهب مسرعا ليستجلي الأمر حتى وصل الى الحديقة وهو يلهث
  لماذا وصل فراس لاهثا؟ </h4>
  <div style="text-align: right; padding-right:50px">
   <p style="font-size: 22px;">لأنه كان يجري / لأنه بذل مجهودا
    يختلف الإيقاع التنفسي حسب نشاط الجسم</p>
 
</div>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 11</h3>
 <h4> أسمي طوري الحركة التنفسية و عرفهما </h4>
  <div style="text-align: right; padding-right:50px">
   <p style="font-size: 22px;">الشهيق هو عملية ادخال الأكسجين إلى الجسم</p>
   <p style="font-size: 22px;">الزفير هو عملية اخراج ثاني أكسيد الكربون من الجسم</p>
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 12</h3>
 <h4> اشرح تأثير التدخين على رئة المدخن </h4>
  <div style="text-align: right; padding-right:50px">
   <p style="font-size: 22px;">تأثير التدخين على رئة المدخن :
    يزيد التعرض لفترات طويلة للمواد السامة الموجودة في دخان
     السجائر بشكل كبير من احتمالية الإصابة بأمراض مزمنة مثل مرض الانسداد الرئوي المزمن ،
      وانتفاخ الرئة، وسرطان الرئة</p>
</div>
</div>


<div style="text-align: right;">
  <h3>نشاط عدد 13</h3>
 <h4> هل يمكنك أن تساعد فراس على ذكر عوامل أخرى تلحق ضررا بالجهاز التنفسي</h4>
  <div style="text-align: right; padding-right:50px">
   <p style="font-size: 22px;">الهواء الملوث بدخان السيارات، الغبار، دخان المصانع
    الاختناق : الغرق، الغازات السامة، الصعقة الكهربائية</p>
</div>
</div>

<div style="text-align: right;">
  <h3>نشاط عدد 14</h3>
 <h4> قدم 3 نصائح تمكنك من وقاية جهازك التنفسي من الأمراض</h4>
  <div style="text-align: right; padding-right:50px">
  <p style="font-size: 22px;">تناول المشروبات الدافئة الغنية بفيتامين سي مثل البرتقال و الليمون و الزنجبيل
    الحفاظ على رطوبة الجسم و ذلك بشرب السوائل بشكل كاف اذ تقوم بترطيب الجهاز التنفسي مما يجعل التنفس أسهل و يقلل من افرازات الرئتين
    الابتعاد عن الأماكن المزدحمة</p>
</div>
</div>


</div>

</div>
</div>
      <div class="suiv">
  
        <button class="b2" (click)="Next()">الدرس التالي</button>
      </div>
    