
.lesson {
    font-family: "Comic Sans MS", cursive, sans-serif;
  
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }

  .container {
    display: flex;
    align-items: center;
  
}
.div1{
    
    
    height: 200px;
    margin-right: 20px;
}
.enregister{
    background-color: #45a049;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
}
.supp{
    color: red;
    font-size: 15px;
    margin-right: 30px;
    background-color:white;
    border-radius: 7px;
    border:red solid;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
  .input1{
    width: 500px;
    height: 135px;
    /* margin: 5px; */
  }
  .lesson p {
    margin: 10px 0;
  }
  
  .h1
  {
    text-align: center;
    color: aqua;
  }
  
  
  .hunt-steps p {
    margin: 10px 0;
  }
  
  .hunt-steps input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .hunt-steps button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hunt-steps button:hover {
    background-color: #45a049;
  }
 

  
  