
<div style="padding: 20px;" >
<div  class="lesson">
    
    <div>
      <h1 >درس : تعرف مكونات التربة</h1>
    </div>
</div>
    <div style="text-align: right;">
        <h3>نشاط عدد1 </h3>
    </div>
    <div style="text-align: right;">
        <h4> أذكر  مكونات التربة ؟</h4>
        <textarea style="width: 800px;height:80px;border-radius: 20px ;margin-right:50px;" > </textarea>
    </div>

    <div style="text-align: right;">
        <h3>نشاط عدد2 </h3>
    </div>
    <div style="text-align: right;">
        <h4> .أجب بصواب او خطأ ثم أصلح الجمل الخاطئة </h4>
        <div style="text-align: right; padding-right:50px">
        <p>
            <select style="background-color: rgb(211, 188, 232);" name="" id="">
                <option value=""></option>
                <option value="صواب">صواب</option>
                <option value="خطأ">خطأ</option>
            </select>
             .يوجد على سطح الأرض نوع واحد من الصخور الرسوبية -
        </p>
        <input type="text" style="border:none; width: 400px;"  placeholder="------------------------------------------------------------------------------------" id="">
      
        <p>
            <select style="background-color: rgb(211, 188, 232);;" name="" id="">
                <option value=""></option>
                <option value="صواب">صواب</option>
                <option value="خطأ">خطأ</option>
            </select>
            .تتفاعل صخرة الكلس مع الماء محدثة فوران -
        </p>
     
            <input type="text" style="border:none; width: 400px;"  placeholder="------------------------------------------------------------------------------------" id="">
        <p>
            <select style="background-color: rgb(211, 188, 232);;" name="" id="">
                <option value=""></option>
                <option value="صواب">صواب</option>
                <option value="خطأ">خطأ</option>
            </select>
            .تتكون الصخور الرسوبية على شكل طبقات منضدة و متوازية فيما بينها -
        </p>
        <input type="text" style="border:none; width: 400px;"  placeholder="------------------------------------------------------------------------------------" id="">
      
        <p>
            <select style="background-color: rgb(211, 188, 232);;" name="" id="">
                <option value=""></option>
                <option value="صواب">صواب</option>
                <option value="خطأ">خطأ</option>
            </select>
            .يستعمل الكلس في صناعة الخزف -
        </p>
        <input type="text" style="border:none; width: 400px;"  placeholder="------------------------------------------------------------------------------------" id="">
      
        <p>
            <select style="background-color: rgb(211, 188, 232);;" name="" id="">
                <option value=""></option>
                <option value="صواب">صواب</option>
                <option value="خطأ">خطأ</option>
            </select>
            .يكون الغطاء النباتي كثيفا فوق الصخور النفوذة -
        </p>
        <input type="text" style="border:none; width: 400px;"  placeholder="------------------------------------------------------------------------------------" id="">
      
        </div>
    </div>

    <div style="text-align: right;">
        <h3>نشاط عدد3 </h3>
    </div>
    <div style="text-align: right;">
        <h4> : أذكر المعرف به إلى كل تعريف  </h4>
        <div style="text-align: right; padding-right:50px">
        <p><input type="text" style="width: 90px;margin:5px"> هي مدى سماح الصخرة بمرور الماء بين مسامها -</p>
        <p><input type="text" style="width: 90px;margin:5px">هي مدى مقاومة الصخرة للخدش -</p>
        <p><input type="text" style="width: 90px;margin:5px"> هي مدى تماسك معادن الصخرة -</p>
    </div>
    </div>
      <!-- ////////////////////////////////////// -->
<br><br><br>
<div class="dives" *ngIf="!state">
  <button class="butt" (click)="show()">أنظر إلى الإصلاح</button>
</div>
<br><br>
<!-- //////////////////////////////////////////////////////////////////////// -->
<div *ngIf="state">

    <div class="esla7">
      <h2 class="h2" (click)="show()">الإصلاح</h2>
    </div>
    <div style="text-align: right;">
      <h3>:نشاط عدد 1</h3>
      <div style="text-align: right;">
        <h4> أذكر  مكونات التربة ؟</h4></div>
      <div style="margin: 30px;">

      <p style="font-size: 23px;">: تتكون التربة من سبعة مكونات يمكن الحصول عليها بعملية الترسيب </p>
      <p style="font-size: 22px;margin-right:40px"> .  الدبال : هو مواد عضوية مصدرها بقايا الكائنات الحية تطفو فوق الماء</p>
      <p style="font-size: 22px;margin-right:40px">.الرمال : حبيبات تخدش صفيحة من الزجاج </p>
      <p style="font-size: 22px;margin-right:40px">.الطين عند خلط التربة بالماء نتحصل على عجينة لزجة </p>
      <p style="font-size: 22px;margin-right:40px">.الماء : عند تسخين التربة نلاحظ تصاعد البخار </p>
      <p style="font-size: 22px;margin-right:40px">.الهواء : عند وضع تربة في الماء نلاحظ تصاعد فقاعات هواء </p>
      <p style="font-size: 22px;margin-right:40px">.الأملاح  : عندما نسخن رشاجة التربة حتى التبخر نلاحظ رأسا أبيضا</p>
      <p style="font-size: 22px;margin-right:40px">.الكلس : عندما نسكب قليلا من كلور الماء على التربة يحدث فورانا</p>
        </div>
        <div style="margin: 30px;">
         
            </div>
      
    
    
    <div style="text-align: right;">
      <h3>:نشاط عدد 2 </h3>
      <div style="text-align: right;">
        <h4> .أجب بصواب او خطأ ثم أصلح الجمل الخاطئة </h4></div>
      <div style="margin-right: 30px;">
        <strong style="font-size: 50;color:red"> خطأ -</strong>
     <p style="font-size: 20px; margin-right:10px">يمكن تقسيم الصخور الرسوبية إلى أربع مجموعات استنادا 
        إلى العمليات المسؤولة عن تشكيلها: الصخور الرسوبية المتطايرة
         والصخور الرسوبية الحيوية (البيولوجية) والصخور الرسوبية الكيميائية والفئة الرابعة
         من الصخور الرسوبية «الأخرى» التي تشكلها الآثار البركانية وغيرها عمليات بسيطة</p>
         <strong style="font-size: 50;color:red"> خطأ -</strong>
         <p style="font-size: 20px; margin-right:10px">تتفاعل صخرة الكلس و تحدث فورانا عندما نسكب عليها كلور الماء</p>
             <strong style="font-size: 50;color:green">  صواب -</strong>
             <p></p>
             <strong style="font-size: 50;color:red"> خطأ -</strong>
                 <p style="font-size: 20px; margin-right:10px">يستعمل الكلس في صناعة الزجاج حيث يستخدم لتحسين خواص الزجاج وزيادة مقاومته وشفافيته   </p>
                     <strong style="font-size: 50;color:red"> خطأ -</strong>
                     <p style="font-size: 20px; margin-right:10px">يكون الغطاء النباتي فوق الصخور النفوذة نادرا او شبه منعدم</p>
      </div>
      </div>
    
      <div style="text-align: right;">
        <h3>:نشاط عدد 3 </h3>
        <div style="text-align: right;">
            <h4> : أذكر المعرف به إلى كل تعريف  </h4></div>
        <div style="margin: 30px;">
       <p style="font-size: 20px;">   .هي مدى سماح الصخرة بمرور الماء بين مسامها : 
        <strong style=" color:green;font-size:20px" >الصخرة النفوذة </strong>
           </p>
           <p style="font-size: 20px;">   .هي مدى مقاومة الصخرة للخدش :
            <strong style=" color:green;font-size:20px" >الصخرة الصلبة   </strong>
               </p>
               <p style="font-size: 20px;">   .هي مدى تماسك معادن الصخرة :
                <strong style=" color:green;font-size:20px" >الصخرة متماسكة  </strong>
                   </p>
        </div>
        </div>
    <br>
    
    </div>
    </div>
    <br>
    <div class="suiv">
        <button class="b1" (click)="Previous()">الدرس السابق</button>
        <button class="b2" (click)="Next()">الدرس التالي</button>
      </div>
    
