/* You can add global styles to this file, and also import other style files */
.lesson{
  background-color: antiquewhite;
}
h3{
    color: blue !important;;
    font-size: 25px !important;;
}
h1{
    color: chocolate;
    text-align: center ;
   
}
h4{ font-size: 20px !important;;
    color: blueviolet;}
.suiv{
    margin-top: 20px;
    height: 40px;
   margin-left: 1%;
   margin-right: 20%;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
   width: 200px;
    border-radius: 10px;
}
  .b1{
    background-color: #45a049;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    float: left;
}
  .b2{
   float: right;
    background-color:#45a049;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

  }
  /* esle7 */
  .dives{ 

    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 20px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
  
  }
  .butt{
    background-color: bisque;
    text-align: center;
    color: red;
   width: 200px;
    font-size: 25px;
    padding: 7px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .esla7{
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  .h2
  {
    text-align: center;
   color: red;
  }
